head
  style.
    body {
      background: #70A821;
      background: -webkit-gradient(radial, circle, 0, circle, 400, color-stop(0%, rgba(199, 247, 61, 0.4)), color-stop(100%, rgba(172, 205, 99, 0))), url('/wp-content/themes/jc/img/../img/bg_walltexture.jpg?1374772574'), #589324;
      background: -webkit-radial-gradient(circle, rgba(199, 247, 61, 0.4) 0%, rgba(172, 205, 99, 0) 400px), url('/wp-content/themes/jc/img/../img/bg_walltexture.jpg?1374772574'), #589324;
      background: -moz-radial-gradient(circle, rgba(199, 247, 61, 0.4) 0%, rgba(172, 205, 99, 0) 400px), url('/wp-content/themes/jc/img/../img/bg_walltexture.jpg?1374772574'), #589324;
      background: -o-radial-gradient(circle, rgba(199, 247, 61, 0.4) 0%, rgba(172, 205, 99, 0) 400px), url('/wp-content/themes/jc/img/../img/bg_walltexture.jpg?1374772574'), #589324;
      background: radial-gradient(circle, rgba(199, 247, 61, 0.4) 0%, rgba(172, 205, 99, 0) 400px), url('/wp-content/themes/jc/img/../img/bg_walltexture.jpg?1374772574'), #589324;
      color: #fff;
      margin: 0 auto;
      }



.col-md-12
    h1 In class {{class_id}}

.col-md-8
  h2 Assignments
    ul

.col-md-4
  h2 Students
    ul

.container
  h3 Fake Assignment uploader
  input(type="text", ng-model="dummy_pdf")
  button(ng-click="manualAddPDF(dummy_pdf)") Fake upload PDF

//-.container
  h3 Fake Assignment uploader
  input(type="text", ng-model="question_images[0]")
  input(type="text", ng-model="question_images[1]")
  button(ng-click="manualAddAssignment()") Fake upload

//-//- Moxtra
//-script#moxtrajs(type='text/javascript', src='https://www.moxtra.com/api/js/moxtra-latest.js', data-client-id='jsT4n6rAa2I') 
//-script(type='text/javascript')
    //-var options = {
      //-email: EMAIL_ADDRESS,
      //-iframe: true,
      //-tagid4iframe: "container",
      //-iframewidth: "920px",
      //-iframeheight: "650px",
      //-autostart_meet: false,
      //-autostart_note: true,
      //-start_chat: function(event) {
      //-alert("Chat started session Id: " + event.session_id);
      //-},
      //-start_meet: function(event) {
      //-alert("Meet started session key: " + event.session_key + " session id: " + event.session_id);
      //-},
      //-end_meet: function(event) {
      //-alert("Meet end event");
      //-},
      //-invite_member: function(event) {
      //-alert("Invite member into binder Id: " + event.binder_id);
      //-},
      //-request_note: function(event) {
      //-alert("Note start request");
      //-},
      //-error: function(event) {
      //-alert("Chat error code: " + event.error_code + " error message: " + event.error_message);
      //-}
      //-};
      //-Moxtra.chat(options);


//-//- MathJax
//-script(type='text/javascript', src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')




//-.col-md-12
//-//-    input#meet-starter(type='moxtra-meet-iframe', name='start-meet')
