//-form(method="post", enctype="multipart/form-data", action="/api/assignments/upload")
  input(type="text", name="username")
  input(type="password", name="password")
  input(type="file", name="thumbnail")
  input(type="submit")
//-form(action="/api/assignments/upload", method="post", enctype="multipart/form-data")
  //-input(type="file", name="displayImage", accept="application/pdf")
  //-input(type="submit", name="submit", value="Submit")
.col-md-12
    | In class {{class_id}}. \[ \sum_{i=1}^{n}i=\frac{1}{2}n(n+1) \]

div
  ul
    li(ng-repeat="assignment in assignments")
      a(href="assignment/{{assignment._id}}") Assignment \#{{assignment._id}}

.container
  h3 Fake Assignment uploader
  input(type="text", ng-model="question_images[0]")
  input(type="text", ng-model="question_images[1]")
  button(ng-click="manualAddAssignment()") Fake upload

//-//- Moxtra
//-script#moxtrajs(type='text/javascript', src='https://www.moxtra.com/api/js/moxtra-latest.js', data-client-id='jsT4n6rAa2I') 
//-script(type='text/javascript')
    //-var options = {
      //-email: EMAIL_ADDRESS,
      //-iframe: true,
      //-tagid4iframe: "container",
      //-iframewidth: "920px",
      //-iframeheight: "650px",
      //-autostart_meet: false,
      //-autostart_note: true,
      //-start_chat: function(event) {
      //-alert("Chat started session Id: " + event.session_id);
      //-},
      //-start_meet: function(event) {
      //-alert("Meet started session key: " + event.session_key + " session id: " + event.session_id);
      //-},
      //-end_meet: function(event) {
      //-alert("Meet end event");
      //-},
      //-invite_member: function(event) {
      //-alert("Invite member into binder Id: " + event.binder_id);
      //-},
      //-request_note: function(event) {
      //-alert("Note start request");
      //-},
      //-error: function(event) {
      //-alert("Chat error code: " + event.error_code + " error message: " + event.error_message);
      //-}
      //-};
      //-Moxtra.chat(options);


//-//- MathJax
//-script(type='text/javascript', src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')




//-.col-md-12
//-//-    input#meet-starter(type='moxtra-meet-iframe', name='start-meet')
