div.sidebar SIDEBAR
  ul
    li(ng-repeat="question in assignment_questions")
      button(ng-click="clickQuestion(question._id)") {{question._id}}
      | {{question}}

div(ng-show="question_view")
  p question view
  | question is: {{question_id}}
  | chatroom is here
  | {{question_img}}
  | (placeholder)
  img(src="{{question_img}}", height="500px")

a(href="public/540c1c17e3be43a51afd8e26.pdf") pdf

div(ng-show="!question_view")
  p no question selected view

<input id="MathInput" size="80" onkeypress="UpdateMath(this.value)" /> <input type="button" onclick="sendLaTeX" value="Send Equation"/><br>

<div id="MathOutput" class="output" style="display: inline-block">$${}$$</div>


p#mathoutput
//-//- Moxtra
//-script#moxtrajs(type='text/javascript', src='https://www.moxtra.com/api/js/moxtra-latest.js', data-client-id='jsT4n6rAa2I') 
//-script(type='text/javascript').

