div.sidebar SIDEBAR
  ul
    li(ng-repeat="question in assignment_questions")
      button(ng-click="clickQuestion(question._id)") {{question._id}}
      | {{question}}

div(ng-show="question_view")
  p question view
  | question is: {{question_id}}
  | chatroom is here
  | {{question_img}}
  | (placeholder)
  img(src="{{question_img}}", height="500px")

div(ng-show="!question_view")
  p no question selected view

//-//- Moxtra
script#moxtrajs(type='text/javascript', src='https://www.moxtra.com/api/js/moxtra-latest.js', data-client-id='jsT4n6rAa2I') 
script(type='text/javascript').
    var options = {
      email: "a@b.com",
      iframe: true,
      tagid4iframe: "container",
      iframewidth: "920px",
      iframeheight: "650px",
      autostart_meet: false,
      autostart_note: true,
      start_chat: function(event) {
      alert("Chat started session Id: " + event.session_id);
      },
      start_meet: function(event) {
      alert("Meet started session key: " + event.session_key + " session id: " + event.session_id);
      },
      end_meet: function(event) {
      alert("Meet end event");
      },
      invite_member: function(event) {
      alert("Invite member into binder Id: " + event.binder_id);
      },
      request_note: function(event) {
      alert("Note start request");
      },
      error: function(event) {
      alert("Chat error code: " + event.error_code + " error message: " + event.error_message);
      }
      };
      Moxtra.chat(options);
